<p class="ion-margin" *ngIf="!UserForm.controls.id.value">
  Preencha os campos abaixo com atenção para cadastrar um novo usuário.
</p>

<p class="ion-margin" *ngIf="UserForm.controls.id.value">
  Preencha os campos abaixo com atenção para editar o usuário.
</p>

<form [formGroup]="UserForm" (ngSubmit)="onSubmit()">
  <input type="hidden" id="id" name="id" formControlName="id">

  <ion-list lines="full" class="ion-margin">

     
      <ion-item>
          <ion-label for="name" position="floating" color="primary">Nome:

             
              <ion-text color="danger" *ngIf="UserForm.controls.name.errors">

                
                  <small *ngIf="UserForm.controls.name.errors.required">* Obrigatório</small>

                
                  <small *ngIf="UserForm.controls.name.errors.minlength">* Inválido</small>
              </ion-text>

          </ion-label>
          <ion-input type="text" id="name" name="name" formControlName="name"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label for="email" position="floating" color="primary">E-mail:
              <ion-text color="danger" *ngIf="UserForm.controls.email.errors">
                  <small *ngIf="UserForm.controls.email.errors.required">* Obrigatório</small>
                  <small *ngIf="UserForm.controls.email.errors.pattern">* Inválido</small>
              </ion-text>
          </ion-label>
          <ion-input type="email" id="email" name="email" formControlName="email"></ion-input>
      </ion-item>

     
      <ion-item>
          <ion-label for="avatar" position="floating" color="primary">URL do avatar:
              <ion-text color="danger" *ngIf="UserForm.controls.avatar.errors">
                  <small *ngIf="UserForm.controls.avatar.errors.required">* Obrigatório</small>
                  <small *ngIf="UserForm.controls.avatar.errors.pattern">* Inválido</small>
              </ion-text>
          </ion-label>
          <ion-input type="url" id="avatar" name="avatar" formControlName="avatar"></ion-input>
      </ion-item>

     
      <ion-item>
          <ion-label for="status" color="primary">Status:</ion-label>
          <ion-toggle id="status" name="status" slot="end" formControlName="status"></ion-toggle>
      </ion-item>

  </ion-list>

  <ion-button type="submit" expand="block" class="ion-margin" [disabled]="!UserForm.valid">Criar usuário</ion-button>

</form>
