<ion-header>
    <ion-toolbar>

        <!-- Botão do menu -->
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-title>Não Faz Nada</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <p>Você está na página inicial da aplicação.</p>

    <ion-button expand="block" class="ion-margin" (click)="listUsers()">Listar usuários</ion-button>
    <ion-button expand="block" class="ion-margin" (click)="createUsers()">Criar usuário</ion-button>

    <ion-item-divider></ion-item-divider>

    <p>Acesso aos recursos do dispositivo.</p>

    <ion-button expand="block" class="ion-margin" (click)="devStatus()">Status do Dispositivo</ion-button>
    <ion-button expand="block" class="ion-margin" (click)="devCamera()">Tirar Foto</ion-button>
    <ion-button expand="block" class="ion-margin" (click)="geolocation()">GPS</ion-button>

    <ion-item-divider></ion-item-divider>

    <p>Flamengo:</p>
    <ul>
        <li>Campeão Brasileiro 2019</li>
        <li>Campeão Libertadores 2019</li>
        <li>Campeão Copa do Brasil 2013</li>
        <li>Campeão Brasileiro 2009</li>
        <li>Copa do Brasil 2006</li>
    </ul>

</ion-content>